.main {
    font-family: 'DM Sans Arial sans-serif';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    
    color: #000000;
    margin: 0;
}

.title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 78px;
    line-height: 90px;
    /* identical to box height, or 115% */
    color: #000000;
    margin: 0;
}

.subtitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 36px;
   
    margin: 0;
    color: #000000;
}